.navegadorPrincipal {
    z-index: 1000;
}

.navegadorAlgoritmo {
    top: 50px;
    z-index: 900;
}

.navegadorControl {
    top: 110px;
    margin: auto;
    width: 200px;
    z-index: 800;
}

.control {
    
    font-size: 24px;
}

.contenidoAlgoritmo {
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 175px;
    font-family: sans-serif;
    padding: 20px;
}
.contenido {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 75px;
    font-family: sans-serif;
    padding: 20px;
}

p {
    text-align: justify;
}

.codigo {
    font-family: monospace;
}

.algoritmo {
    background-color: lightgray;
    padding: 20px;  
}

.color-negro {
    color: black;
}

.content-left {
    text-align: left
}

.codigoSeleccionado {
    font-family: monospace;
    font-style: italic;
    font-weight: bold;
    color: red;
    background-color: yellow;
}

.textoCeldaRojo {
    color: red;
    font-weight: bold;
    background-color: lightyellow;
}

.tableInputStyle {
    border: 0;
    text-align: center;
    background-color:  transparent;
}

.tableLink {
    color: green;
    border: 0;
    background-color:  transparent;
}

.grafoDiv {
    width: auto;
    height: 500px;
    display: block;
    border-style: solid;
  }

  .chartDiv {
    width: auto;
    height: 500px;
    display: block;
    border-style: solid;
  }