<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">
            <img src="/images/favicon.png" width="30" height="30" class="d-inline-block align-top" alt=""> VGA
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/index.html">Inicio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/historia.html">Historia</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Algoritmos</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/algoritmos/algoritmos.html">¿Qué es un algoritmo?</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/algoritmos/voraces/voraces.html">Voraces (greedy)</a>
                        <a class="dropdown-item" href="/algoritmos/divide/divide.html">Divide y vencerás</a>
                        <a class="dropdown-item" href="/algoritmos/prog_dinamica/dinamica.html">Programación dinámica</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/index.html" target="_blank">API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">¿Quieres colaborar?</a>
                </li>
            </ul>
        </div>
    </nav>
</div>