<div class="fixed-top navegadorControl btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary control" onclick="FlowManager.reset()"><img
            src="/images/iconos/fast-backward-solid.svg"></button>
    <button type="button" class="btn btn-secondary control" onclick="FlowManager.back()"><img
            src="/images/iconos/backward-solid.svg"></button>
    <button type="button" class="btn btn-secondary control" onclick="FlowManager.trogglePlay()"><img id="player"
            src="/images/iconos/play.svg"></button>
    <button type="button" class="btn btn-secondary control" onclick="FlowManager.next()"><img
            src="/images/iconos/forward-solid.svg"></button>
    <button type="button" class="btn btn-secondary control" onclick="FlowManager.last()"><img
            src="/images/iconos/fast-forward-solid.svg"></button>
</div>